* {
	/*outline: 1px dotted red;*/
	margin: -2px;
	background-color: black;
	font-family: "menlo";
}
html {
	width: 100%;
}
div#world {
	padding-top: 25px;
	width: 480px;
	height: 500px;
	margin: 0 auto;
}

div#over {
	display: none;
	padding-top: 25px;
	width: 480px;
	height: 500px;
	margin: 0 auto;
	text-align: center;
}
	
	div#over h1 {
		display: inline-block;
		margin: 150px 80px;
		font-size: 5em;
		color: red;
		font-weight: 200;
	}

div.ground {
	width: 50px;
	height: 50px;
	background-color: black;
	text-align: center;
	display: inline-block;
	vertical-align: top;
}
div.coin {
	width: 20px;
	height: 20px;
	background-color: silver;
	border-radius: 50%;
	display: inline-block;
	margin-top: 16px;
}

img.pacman, img.ghost {
	width: 40px;
	height: 40px;
	padding: 5px;
	background-color: black;
	display: inline-block;
}


img.wall {
	width: 50px;
	height: 50px;
	background-color: black;
	display: inline-block;
}
div#player {
	padding-top: 25px;
	width: 480px;
	margin: 0 auto;
}
	div#player p {
		display: inline-block;
		color: white;
		padding-right: 50px;
		font-size: 2em;
	}